<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.3/rzslider.min.css"/>
</head>
<body ng-app="highPerformanceJournal">
<div class="container-fluid" ng-controller="JournalEntryController">
    <div class="row">
        <button class="btn btn-primary" ng-click="submitEntry()">Save Entry</button>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span>
                <label for="positiveReviewsTextArea">Positive Review</label>
                <textarea id="positiveReviewsTextArea" style="display:block;"></textarea>
            </span>
            <span>
                <label for="goalsTextArea">Goals</label>
                <textarea id="goalsTextArea" style="display:block;"></textarea>
            </span>
            <span>
                <label for="momentumsTextArea">Momentums</label>
                <textarea id="momentumsTextArea" style="display:block;"></textarea>
            </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div>
                <p>Mental Toughness</p>
                <rzslider id="mentalToughnessSlider" rz-slider-model="mentalToughnessSlider.value"
                          rz-slider-options="mentalToughnessSlider.options"></rzslider>
            </div>
            <div>
                <p>Willingness</p>
                <rzslider id="willingnessSlider" rz-slider-model="willingnessSlider.value"
                          rz-slider-options="willingnessSlider.options"></rzslider>
            </div>
            <div>
                <p>Determination</p>
                <rzslider id="determinationSlider" rz-slider-model="determinationSlider.value"
                          rz-slider-options="determinationSlider.options"></rzslider>
            </div>
            <div>
                <p>Motivation</p>
                <rzslider id="motivationSlider" rz-slider-model="motivationSlider.value"
                          rz-slider-options="motivationSlider.options"></rzslider>
            </div>
            <div>
                <p>Attitude</p>
                <rzslider id="attitudeSlider" rz-slider-model="attitudeSlider.value"
                          rz-slider-options="attitudeSlider.options"></rzslider>
            </div>
            <div>
                <p>Personal Impact</p>
                <rzslider id="personalImpactSlider" rz-slider-model="personalImpactSlider.value"
                          rz-slider-options="personalImpactSlider.options"></rzslider>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.3/rzslider.min.js"></script>
<script>
    var myApp = angular.module('highPerformanceJournal', ['rzModule']);

    myApp.controller('JournalEntryController', ['$scope', '$timeout',
        function ($scope, $timeout) {
            $scope.defaultSliderValue = 5;

            function createSliders() {
                $scope.mentalToughnessSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
                $scope.willingnessSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
                $scope.determinationSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
                $scope.motivationSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
                $scope.attitudeSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
                $scope.personalImpactSlider = {
                    value: $scope.defaultSliderValue,
                    options: {
                        showSelectionBar: true,
                        floor: 0,
                        ceil: 10,
                        step: 1
                    }
                };
            }

            function initializeSlider() {
                //when the slider is initialized it isn't visible which causes the slider to not render correctly
                //this code causes the slider to be rendered correctly when it is made visible
                $timeout(function () {
                    $scope.$broadcast('rzSliderForceRender');
                });
            }

            $scope.submitEntry = function() {
                console.log('mentalToughness: ' + $scope.mentalToughnessSlider.value);
                console.log('willingness: ' + $scope.willingnessSlider.value);
                console.log('determination: ' + $scope.determinationSlider.value);
                console.log('motivation: ' + $scope.motivationSlider.value);
                console.log('attitude: ' + $scope.attitudeSlider.value);
                console.log('personalImpact: ' + $scope.personalImpactSlider.value);
            };

            createSliders();
            initializeSlider();
        }]);
</script>
</body>
</html>