<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title>Clearlink Journal</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: darkturquoise;
    }

    .nav > li > a {
        color: white;
    }

    .clearLinkText {
        font-size: 30px;
        color: white;
        padding-right: 20px;
        padding-left: 15px;
    }

    .topNav {
        background-color: #3498DB;
        color: white !important;
        font-family: 'Sofia', 'Droid Sans', Helvetica, Arial, sans-serif;
        height: 50px;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        background-color: cornflowerblue;
    }

    .logoutLink {
        float: right !important;
        margin-right: 5px;
    }

    .nav-pills > li {
        padding-top: 5px;
    }

    body {
        font-family: 'Sofia', 'Droid Sans', Helvetica, Arial, sans-serif;
    }

    .button-info {
        color: #fff;
        background-color: #5bc0de;
    }

    .button-primary {
        color: #fff;
        background-color: #337ab7;
    }

    .button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .buttonInfo {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .datePickerRow {
        margin-top: 20px;
        margin-left: 2px;
    }

    .journalValuesRow {
        font-size: 17px;
        margin-top: 20px;
        margin-left: 2px;
        margin-bottom: 10px;
    }

    .graphOptionsText {
        padding-left: 5px;
    }

    .graphOptionsButtonGroup {
        margin-left: 25px;
    }

    .usernameSearchRow {
        margin-top: 20px;
        margin-left: 2px;
    }
</style>
<body ng-app="highPerformanceJournal">
<div class="container-fluid ng-cloak" ng-controller="JournalController">
    <div class="row topNav">
        <ul class="nav nav-pills">
            <li disabled="disabled" class="clearLinkText">Clearlink</li>
            <li role="presentation"><a href="/home">Home</a></li>
            <li role="presentation" class="active"><a href="#">Reports</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
            <li role="presentation" class="logoutLink"><a href="/login?logout">Logout</a></li>
            <li disabled="disabled" id="usernameOfLoggedInUser"
                style="float:right; font-size:20px; padding-right:15px;">
                <span class="glyphicon glyphicon-user"></span>
                <span style="padding-left:10px; font-size:30px; display:inline;">
                {{usernameOfLoggedInUser}}</span>
            </li>
        </ul>
    </div>
    <div class="row usernameSearchRow" ng-show="userIsAnAdminOrCoach">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 reportInputFields">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label for="usernameSearchInput">Username</label><br/>
                <input id="usernameSearchInput" ng-model="userToShowReportsFor" maxlength="100"/>
            </div>
        </div>
    </div>
    <div class="row datePickerRow">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <label for="startDatePicker">Start Date</label><br/>
                <input id="startDatePicker"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                <label for="endDatePicker">End Date</label><br/>
                <input id="endDatePicker"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button id="generateReportButton" class="btn button" style="margin-top:17px;"
                        ng-click="generateReport()">Generate Report
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="invalidDateRangeMessage" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 alert alert-danger"
             style="margin-top:10px; margin-left:30px; display:none;">
            Date range is invalid
        </div>
    </div>
    <div class="row journalValuesRow" ng-show="averageJournalValues">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span style="color:lightblue; padding-left:15px;">Mental Toughness&nbsp;</span>
            <span class="badge" style="background-color:lightblue;">{{averageMentalToughness}}</span>
            <span style="color:#1b6d85; padding-left:15px;">Willingness&nbsp;</span>
            <span class="badge" style="background-color:#1b6d85;">{{averageWillingness}}</span>
            <span style="color:#23c1c1; padding-left:15px;">Determination&nbsp;</span>
            <span class="badge" style="background-color:teal;">{{averageDetermination}}</span>
            <span style="color:lightgreen; padding-left:15px;">Motivation&nbsp;</span>
            <span class="badge" style="background-color:lightgreen">{{averageMotivation}}</span>
            <span style="color:cadetblue; padding-left:15px;">Attitude&nbsp;</span>
            <span class="badge" style="background-color:cadetblue;">{{averageAttitude}}</span>
            <span style="color:darkturquoise; padding-left:15px;">Personal Impact&nbsp;</span>
            <span class="badge" style="background-color:darkturquoise;">{{averagePersonalImpact}}</span>
            <div class="btn-group graphOptionsButtonGroup">
            <span id="graphOptionsDropDown" class="btn buttonInfo dropdown-toggle" type="button"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true" title="Hide or show lines in the line graph">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </span>
                <ul class="dropdown-menu">
                    <li class="filterOptions graphOptionsText">Hide/Show Lines</li>
                    <li role="separator" class="divider"></li>
                    <li class="filterOptions" ng-click="keepDropDownOpen($event)">
                        <div class="checkbox-group">
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showMentalToughnessInGraph" id="showMentalToughnessInGraph"
                                              type="checkbox" name="filterOptions"/>Mental Toughness</label>
                            </div>
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showWillingnessInGraph" id="showWillingnessInGraph"
                                              type="checkbox"
                                              name="filterOptions"/>Willingness</label>
                            </div>
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showDeterminationInGraph" id="showDeterminationInGraph"
                                              type="checkbox" name="filterOptions"/>Determination</label>
                            </div>
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showMotivationInGraph" id="showMotivationInGraph"
                                              type="checkbox"
                                              name="filterOptions"/>Motivation</label>
                            </div>
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showAttitudeInGraph" id="showAttitudeInGraph" type="checkbox"
                                              name="filterOptions"/>Attitude</label>
                            </div>
                            <div class="checkbox graphOptionsText">
                                <label><input ng-model="showPersonalImpactInGraph" id="showPersonalImpactInGraph"
                                              type="checkbox"
                                              name="filerOptions"/>Personal Impact</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="chart-container" style="position: relative; height:30vh; width:60vw">
                <canvas id="lineGraph"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    var myApp = angular.module('highPerformanceJournal', []);

    myApp.controller('JournalController', ['$scope', '$http',
        function ($scope, $http) {
            function getUsernameOfLoggedInUser() {
                if (!sessionStorage.getItem('usernameOfLoggedInUser')) {
                    $http.post('/users/getUsernameOfLoggedInUser').then(function (result) {
                        if (!result.data || !result.data.username) {
                            window.location.href = '/login?logout';
                        } else {
                            sessionStorage.setItem('usernameOfLoggedInUser', result.data.username);
                            $scope.usernameOfLoggedInUser = sessionStorage.getItem('usernameOfLoggedInUser');
                            $scope.userToShowReportsFor = $scope.usernameOfLoggedInUser;
                        }
                    });
                }
                $scope.usernameOfLoggedInUser = sessionStorage.getItem('usernameOfLoggedInUser');
                $scope.userToShowReportsFor = $scope.usernameOfLoggedInUser;
            }

            getUsernameOfLoggedInUser();

            $scope.userIsAnAdminOrCoach = false;

            function getUserRole() {
                if (!sessionStorage.getItem('userRole')) {
                    $http.post('/userRole').then(function (result) {
                        if (!result.data || !result.data.userRole) {
                            window.location.href = '/login?logout';
                        } else {
                            sessionStorage.setItem('userRole', result.data.userRole);
                            $scope.userRole = sessionStorage.getItem('userRole');
                            $scope.userIsAnAdminOrCoach = $scope.userRole === 'admin' || $scope.userRole === 'coach';
                        }
                    });
                } else {
                    $scope.userRole = sessionStorage.getItem('userRole');
                    $scope.userIsAnAdminOrCoach = $scope.userRole === 'admin' || $scope.userRole === 'coach';
                }
            }

            getUserRole();

            $scope.showMentalToughnessInGraph = true;
            $scope.showWillingnessInGraph = true;
            $scope.showDeterminationInGraph = true;
            $scope.showMotivationInGraph = true;
            $scope.showAttitudeInGraph = true;
            $scope.showPersonalImpactInGraph = true;

            $scope.keepDropDownOpen = function (e) {
                e.stopPropagation();
                if ($scope.graphData !== undefined) {
                    displayLineGraph($scope.graphData);
                }
            };

            $scope.generateReport = function () {
                if (datesHaveNoValues()) {
                    waitForDatesThenGenerateReport();
                } else {
                    generateReportFromDates();
                }

                function datesHaveNoValues() {
                    return !$("#startDatePicker").val() || !$("#endDatePicker").val();
                }

                function waitForDatesThenGenerateReport() {
                    setTimeout(function () {
                        console.log('First delayed check for dates', new Date());

                        if (datesHaveNoValues()) {
                            setTimeout(function () {
                                console.log('Second delayed check for dates', new Date());

                                if (datesHaveNoValues()) {
                                    setTimeout(function () {
                                        console.log('Third delayed check for dates', new Date());

                                        if (datesHaveNoValues()) {
                                            console.error('Unable to generate report due to no date values');
                                        } else {
                                            generateReportFromDates();
                                        }
                                    }, 500);
                                } else {
                                    generateReportFromDates();
                                }
                            }, 200);
                        } else {
                            generateReportFromDates();
                        }
                    }, 100);
                }

                function generateReportFromDates() {
                    var filter = {
                        startDate: $("#startDatePicker").val(), endDate: $("#endDatePicker").val(),
                        username: $scope.userToShowReportsFor
                    };

                    $http.post('/journalEntries/getJournalValuesInDateRange', filter)
                        .then(function (result) {
                            $scope.graphData = result.data;
                            displayLineGraph(result.data);
                        });

                    $http.post('/journalEntries/getJournalAveragesInDateRange', filter)
                        .then(function (result) {
                            displayAverageJournalValues(result.data);
                        });
                }
            };

            function displayAverageJournalValues(averageJournalValues) {
                $scope.averageJournalValues = averageJournalValues;
                $scope.averageMentalToughness = averageJournalValues.mentalToughness;
                $scope.averageWillingness = averageJournalValues.willingness;
                $scope.averageDetermination = averageJournalValues.determination;
                $scope.averageMotivation = averageJournalValues.motivation;
                $scope.averageAttitude = averageJournalValues.attitude;
                $scope.averagePersonalImpact = averageJournalValues.personalImpact;
            }

            function displayLineGraph(graphData) {
                Chart.defaults.global.legend.display = false;
                new Chart(document.getElementById("lineGraph"), {
                    "type": "line", "data": {
                        "labels": graphData.dates, "datasets": generateDataObjectForGraph(graphData)
                    }, "options": {}
                });
            }

            function generateDataObjectForGraph(graphData) {
                var datasets = [];
                var datesLength = graphData.dates.length;

                for (var fieldIndex = 0; fieldIndex < graphData.fields.length; fieldIndex++) {
                    var field = graphData.fields[fieldIndex];
                    if (shouldNotShowLineInGraphForField(field)) {
                        continue;
                    }
                    var data = [];
                    for (var dateIndex = 0; dateIndex < datesLength; dateIndex++) {
                        var date = graphData.dates[dateIndex];
                        data.push(getData(field, date, graphData));
                    }

                    function generateBorderColor(field) {
                        switch(field) {
                            case 'attitude':
                                return 'cadetblue';
                            case 'determination':
                                return '#23c1c1';
                            case 'mentalToughness':
                                return 'lightblue';
                            case 'motivation':
                                return 'lightgreen';
                            case 'willingness':
                                return '#1b6d85';
                        }

                        return 'rgb(75, 192, 192)';
                    }

                    var borderColor = generateBorderColor(field);

                    datasets.push({
                        "data": data, "fill": false,
                        "borderColor": borderColor, "lineTension": 0.1
                    });

                }
                return datasets;
            }

            function shouldNotShowLineInGraphForField(field) {
                switch (field.toLowerCase()) {
                    case "mentaltoughness":
                        return !$scope.showMentalToughnessInGraph;
                    case "willingness":
                        return !$scope.showWillingnessInGraph;
                    case "determination":
                        return !$scope.showDeterminationInGraph;
                    case "motivation":
                        return !$scope.showMotivationInGraph;
                    case "attitude":
                        return !$scope.showAttitudeInGraph;
                    case "personalimpact":
                        return !$scope.showPersonalImpactInGraph;
                    default:
                        console.log('Unknown case: ' + field.toLowerCase());
                }

                return false;
            }

            function getData(field, date, graphData) {
                return graphData.fieldValuesMap[field][date];
            }

            $scope.showDropDown = function () {
                document.querySelector('#graphOptionsDropDown').click();
            };

            $(function () {
                var mask = "99/99/9999";
                var date = new Date();

                var currentMonth = date.getMonth();
                var currentDate = date.getDate();
                var currentYear = date.getFullYear();

                var $startDatePicker = $("#startDatePicker");
                var maxDate = new Date(currentYear, currentMonth, currentDate);
                var minDate = new Date(2017, 0, 1);
                $startDatePicker.datepicker({
                    autoSize: true,
                    maxDate: maxDate,
                    minDate: minDate,
                    onSelect: validateDateRange
                });

                var sevenDaysAgo = new Date(date - 1000 * 60 * 60 * 24 * 7);

                $startDatePicker.datepicker('setDate', sevenDaysAgo);
                $startDatePicker.mask(mask);
                var $endDatePicker = $("#endDatePicker");

                $endDatePicker.datepicker({
                    autoSize: true,
                    maxDate: maxDate,
                    minDate: minDate,
                    onSelect: validateDateRange
                });
                $endDatePicker.datepicker('setDate', new Date());
                $endDatePicker.mask(mask);

                function validateDateRange() {
                    if ($('#startDatePicker').val() > $('#endDatePicker').val()) {
                        $('#generateReportButton').attr('disabled', true);
                        $('#invalidDateRangeMessage').show();
                    } else {
                        $('#generateReportButton').attr('disabled', false);
                        $('#invalidDateRangeMessage').hide();
                    }
                }

            });

            if (!$scope.userToShowReportsFor) {
                setTimeout($scope.generateReport, 200);
            } else {
                $scope.generateReport();
            }
        }]);
    /*]]>*/
</script>
</body>
</html>