<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Login</title>
</head>
<body>
<div class="body">
    <div class="center">
        <h3>Please login</h3>
    </div>
    <div th:if="${param.error}" >
        Invalid Username and/or password.
    </div>
    <div th:if="${param.logout}">
        You're logged out.
    </div>
    <div>
        <form th:action="@{/login}" method="post">
            <div><label>Username: <input type="text" name="username" /></label></div>
            <div><label>Password: <input type="text" name="password" /></label></div>
            <div><input type="submit" value="Sign In" /></div>
        </form>
    </div>
</div>
<script>
    sessionStorage.clear();
    console.log('cleared session storage')
</script>
</body>
</html>