<!--THIS IS THE NAV BAR -->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="https://www.Clearlink.com">
        <img src="img/clearlinkLogo.png" width="139" alt="Logo" >
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- <a href="#">Login</a> -->
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <!-- <a href="#entry">Entry</a> -->
          <a routerLink="/entry" routerLinkActive="active">Entry</a>
        </li>
        <li>
          <!-- <a href="#reports">Reports</a> -->
          <a routerLink="/reports" routerLinkActive="active">Reports</a>
        </li>
        <li>
          <!-- <a href="#admin">Admin</a> -->
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!--END OF NAV BAR-->
  <!--<div class="content-section-a">-->
    <router-outlet>

      <!--<div class="intro-header">-->

        <!--<div class="container">-->

          <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
              <!--<div class="intro-message">-->
                <!--<h1>High Performance Journal</h1>-->
                <!--<hr class="intro-divider">-->
                <!--<h3>by Clearlink</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

    </router-outlet>
  <!--</div>-->
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">Copyright &copy; Clearlink 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
